<% provide(:title,'Home') %>

		<div class="left">
			<div class="left1">
				<ul>

				    <% @especialidads.each do |especialidad| %>
						
						<li> <%= link_to especialidad.nombre , medicos_path%> </li>

				    <% end %>

				</ul>
			</div>
		</div>


		<div class="center">
			<div class="center1">
				<p id="titlecenter"></p>

			    <% @medicos.each do |medico| %>
				<div class="imgs">
					<p>	
						<img src="/assets/medicos/dr2.JPG">
				    </p>

				</div>
				<% end %>

			</div>

		</div>





		<div class="right">
			
			<div class="right1">
				<img src="/assets/medicos/dr2.JPG">
			</div>
			
			<div class="right2">
				<div class="right21">
					<table id="tabla">
					<tr> 
						<td colspan="2"><p id="fila1"> Datos del profesional </p></td> 
					</tr>
					<tr> 
						<td> Nombre </td> 
						<td> Dr. Emmsy Mad Hammer </td> 
					</tr>
					<tr> 
						<td> Curriculum </td> 
						<td> Dr. en Medicina General, Especializaci&oacuten en Ostometr&iacutea y Cirugia reconstructiva </td> 
					</tr>

					<tr height="102px"> 
						<td width="25%"> Reconocimientos </td> 
						<td width="75%">
							Mejor Cirugano 2012 seg&uacuten <i>Sociedad Internacional de M&eacutedicos Quebrantahuesos</i>
							<br>
							Premio al mejor art&iacuteculo "C&oacutemo recuperarse de un salto sin paracaidas".
							<br>
							Medalla de oro de la <i>Frankeinstein Royal Society</i>
							por su trabajo en reconstrucci&oacuten de reinas de belleza sin el uso de Silicona
						</td> 
					</tr>

					</table>
				</div>	
			</div>

		</div>







