<div id="header">
	<p id="name">Gesti&oacuten Doctores</p>
	</br>
	<center>
		<p>
			<%= link_to 'Crear Medico', new_medico_path %>
			<%= link_to 'Crear Especialidad', new_especialidad_path %>
		</p>
	</center>
</div>
